html {
background-color: #000;
}
body{
height: 100%;
// position: absolute;
// top: -120px;
bottom: 0px;
background-color: #000;
}
.myhub{
position: absolute;
top:10%;
left:15%;
}
.flexbox{
    height:115%;
}
/*==============================*/
/* Custom, iPhone Retina */
@media (min-width: 320px) and (max-width: 567px) {
body{
height: 100%;
margin-left: 15%;
margin-right: 15%;
overflow-x : hidden;
overflow-y : hidden
}