body {
background: #16222A;
/* fallback for old browsers */
background: -webkit-linear-gradient(to left, #16222A, #3A6073, #16222A);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #16222A, #3A6073, #16222A);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */; none repeat scroll 0% 0% rgba(0, 0, 0, 0.9);margin-top:2em}
overflow-y: hidden;
==========================================================
body {
color: #333;
padding: 20px;
text-align: center;
font-family: 'Sans-Serif';
overflow-y: hidden;
}
.separator {
margin-top: 40px;
}
label{
padding: 8px;
}
/* 3D Cube */
.space3d {
perspective: 1000px;
width: 250px;
height: 250px;
text-align: center;
display: inline-block;
}
._3dbox {
display: inline-block;
transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
text-align: center;
position: relative;
top:40px;
left:450px;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transform: rotateX(-1deg) rotateY(1deg);
}
._3dface {
overflow: hidden;
position: absolute;
border: 3px solid -webkit-linear-gradient(to left, #16222A, #3A6073, #16222A);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #16222A, #3A6073, #16222A);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;;
background: #FFF;
box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
color: #333;
line-height: 250px;
/*opacity: 0.8;*/
border: solid 2px #000000;
box-shadow: 1px 1px 5px #888888;
}
._3dface--front {
width: 250px;
height: 250px;
transform: translate3d(0, 0, 125px);
}
._3dface--top {
width: 250px;
height: 250px;
transform: rotateX(90deg) translate3d(0, 0, 125px);
}
._3dface--bottom {
width: 250px;
height: 250px;
transform: rotateX(-90deg) translate3d(0, 0, 125px);
}
._3dface--left {
width: 250px;
height: 250px;
left: 50%;
margin-left: -125px;
transform: rotateY(-90deg) translate3d(0, 0, 125px);
}
._3dface--right {
width: 250px;
height: 250px;
left: 50%;
margin-left: -125px;
transform: rotateY(90deg) translate3d(0, 0, 125px);
}
._3dface--back {
width: 250px;
height: 250px;
transform: rotateY(180deg) translate3d(0, 0, 125px);
}
#radio-left:checked ~ .space3d ._3dbox {
transform: rotateY(90deg);
}
#radio-right:checked ~ .space3d ._3dbox {
transform: rotateY(-90deg);
}
#radio-bottom:checked ~ .space3d ._3dbox {
transform: rotateX(90deg);
}
#radio-top:checked ~ .space3d ._3dbox {
transform: rotateX(-90deg);
}
#radio-back:checked ~ .space3d ._3dbox {
transform: rotateY(180deg);
}
._3dface--front {
background: url("../images/streamhome.png")50% 50%;
background-size: auto 100%;
border:;
}
._3dface--left {
background: url("../images/stream3.png")50% 50%;
background-size: auto 100%;
}
._3dface--right {
background: url("../images/stream4.png");
background-size: auto 100%;
}
._3dface--top {
background: url("../images/stream5.png");
background-size: auto 100%;
}
._3dface--bottom {
background: url("../images/stream6.png");
background-size: auto 100%;
}
._3dface--back {
background: url("../images/email.png");
background-size: auto 100%;
}
input[type=radio] {
display: none;
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
position: relative;
left: 75px;
top: -50px;
}
input[type=radio] + label.button{
display:inline-block;
cursor: pointer;
outline: 0;
width: 128px;
height: 128px;
background-repeat: no-repeat;
background-position: 0 0;
text-indent: -99999px;
}
input[type="radio"]:checked
{
opacity: 1;
max-height: 100px;
padding: 10px 20px;
transform: scale(1);
overflow: visible;
}
img.zoom:hover {
-moz-transform: scale(1.9);
-webkit-transform: scale(1.9);
transform: scale(1.9);
}
.ttt2{
position: relative;
left: 150px;
top: 100px;
}
.goback{
background: url("../images/loader5.gif") center no-repeat #fff;
background-color: black;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}
.goback:hover { background-color: #00B00C; }
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url("../images/Preloader_2.gif") center no-repeat #fff;
background-color: green;
}
@media (min-width: 320px) and (max-width: 567px)  {
._3dbox {
position: relative;
top: -35px;
left: 20px;
width: 60%;
height: 60%;
}
._3dface--front {
width: 150px;
height: 150px;
transform: translate3d(0, 0, 75px);
}
._3dface--top {
width: 150px;
height: 150px;
transform: rotateX(90deg) translate3d(0, 0, 75px);
}
._3dface--bottom {
width: 150px;
height: 150px;
transform: rotateX(-90deg) translate3d(0, 0, 75px);
}
._3dface--left {
width: 150px;
height: 150px;
left: 83%;
margin-left: -125px;
transform: rotateY(-90deg) translate3d(0, 0, 75px);
}
._3dface--right {
width: 150px;
height: 150px;
left: 83%;
margin-left: -125px;
transform: rotateY(90deg) translate3d(0, 0, 75px);
}
._3dface--back {
width: 150px;
height: 150px;
transform: rotateY(180deg) translate3d(0, 0, 75px);
}
input[type=radio] {
display: none;
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
position: relative;
left: 75px;
top: -50px;
}
input[type=radio] + label.button{
display:inline-block;
cursor: pointer;
outline: 0;
width: 128px;
height: 128px;
background-image: url("../images/button.png");
background-repeat: no-repeat;
background-position: 0 0;
text-indent: -99999px;
}
input[type="radio"]:checked
{
opacity: 1;
max-height: 100px;
padding: 10px 20px;
transform: scale(1);
overflow: visible;
}
.goback{
position: relative;
top: 0px;
left: -90px;
}
.blib{
position: relative;
left: 50px;
top: -20px;
}
label{
position: relative;
left:50px;
}
.red
{
position: relative;
left: 310px;
top: 105px;
font-size: 8px;
line-height: 15px;
animation: pulse 3s;
}
}
.navbar-toggle {
float: none;
position: relative;
left: 20px;
display: none;
}
}